
body {
    font-family: 'Arial', sans-serif;
    
    margin: 0;
    padding: 20px;
  }
  
 
  div {
    max-width: 400px;
    margin:1;
    padding: 20px;
  
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  

  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  
  
  input{
size : 2em;
  }
   
  

  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: rgb(5, 33, 246);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    transform: scale(0.95);
  }
  

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  
 